@import "@/assets/styles/media.scss";

h2{
    background-color: rgb(250, 250, 250);
    padding:60px 100px 30px 100px;
    margin:0;
    @include mobile {
       
        text-align: center;
        padding:40px;
    }

}


.card-blog {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
       @include mobile {
        align-items: center;
        flex-direction: column;
        margin-bottom:40px;
    }
}

.cards-blog {
 padding:10px 80px 40px 80px;
 background-color: rgb(250, 250, 250);
 @include mobile {
     padding:10px 20px;
 }
  
    .card-blog-white{
        background-color: white;
        width:270px;
        border-radius: 5px;
        @include mobile {
            width:320px;
            margin:30px 20px;
          
        }


.author{ 
    font-size:13px;
    color:rgb(156, 156, 156);
    @include mobile {
        font-size:15px;
    }
}
h4{
    font-size:20px;
    @include mobile {
        font-size:18px;
        padding-bottom:10px;
    }
  
}
.text-parag{
    font-size:14px;
    color:rgb(156, 156, 156);
   
}
    }
  
}

img{
    width: 270px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    @include mobile {
        width: 320px;
        height: 200px;
    }
  
}

ul{list-style: none;}
li{
    margin:20px;
    @include mobile {
        margin:20px 0;
    }
   }
.card-content{
    padding:20px;
}